BACKEND_URL=http://127.0.0.1:8082
DEV_BYPASS_AUTH=true

# When Keycloak container is running:
# DEV_BYPASS_AUTH=false
# KEYCLOAK_TOKEN_URL=http://localhost:8180/realms/workforce-realm/protocol/openid-connect/token
# KEYCLOAK_CLIENT_ID=api-gateway
# KEYCLOAK_CLIENT_SECRET=api-gateway-secret
